
<%=link_to "Add Listing Properties",new_property_path%>
<table border="1">
  <tr>
    <th>Project Name</th>
    <th>Property Listing</th>
    <th>Project Type</th>
    <th>No.of flats</th>
    <th>No.of floors</th>
    <th>No.of houses</th>
    <th>No.of plots</th>
    <th>Total area</th>
    <th>Saleable area</th>
    <th>Sale price</th>
    <th>State</th>
    <th>City</th>
    <th>Address</th>
    <th>Postal code</th>
    <th>Property status</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Upcoming date</th>
  </tr>
  <% @properties.each do |property| %>

  <tr>
    <td>
      <%= property.property_name %>
    </td>
    <td>
      <%= property.property_listing %>
    </td>
    <td>
      <%= property.property_type %>
    </td>
    <td>
      <%= property.no_of_flats %>
    </td>
    <td>
      <%= property.no_of_floors %>
    </td>
    <td>
      <%= property.no_of_houses %>
    </td>
    <td>
      <%= property.no_of_plots%>
    </td>
    <td>
      <%= property.total_area %>
    </td>
    <td>
      <%= property.saleable_area %>
    </td>
    <td>
      <%= property.sale_price %>
    </td>
    <td>
      <%= property.state %>
    </td>
    <td>
      <%= property.city %>
    </td>
    <td>
      <%= property.address %>
    </td>
    <td>
      <%= property.zip_code %>
    </td>
    <td>
      <%= property.start_date%>
    </td>
    <td>
      <%= property.end_date %>
    </td>
   <td>
      <%= property.property_status %>
    </td>
    <td>
      <%= property.upcoming_date %>
    </td>
    

      <td><%= link_to "edit",  edit_property_path(property) %> </td>
      <td><%= link_to "delete", property_path(property),:method => 'DELETE' %></td>
      <td><%= link_to "show", property_path(property) %></td>


    </tr>

  <% end %>
</table>
