<table>
  <tr>
    <td>Project Name:<%= @property.property_name %>
    </td>
  </tr>
  <tr>
    <td>
      Project Listing:<%= @property.property_listing %>
    </td>
  </tr>
  <tr>
    <td>
      Project Type:<%= @property.property_type %>
    </td>
  </tr>
  <tr>
    <td>
      No.of Flats:<%= @property.no_of_flats %>
    </td>
  </tr>
  <tr>
    <td>
      No.of Floors:<%=@property.no_of_floors%>
    </td>
  </tr>
  <tr>
    <td>
      No.of Houses:<%=@property.no_of_houses%>
    </td>
  </tr>
  <tr>
    <td>
      No.of Plots:<%=@property.no_of_plots %>
    </td>
  </tr>
  <tr>
    <td>
      Total Area:<%=@property.total_area %>
    </td>
  </tr>
  <tr>
    <td>
      Saleable Area:<%=@property.saleable_area %>
    </td>
  </tr>


  <tr>
    <td>
      Sale Price:<%=@property.sale_price %>
    </td>
  </tr>
  <tr>
    <td>
      Description:<%=@property.description %>
    </td>
  </tr>
  <tr>
    <td>
      State:<%=@property.state %>
    </td>
  </tr>
  <tr>
    <td>
      City:<%=@property.city %>
    </td>
  </tr>
  <tr>
    <td>
      Address:<%=@property.address %>
    </td>
  </tr>
  <tr>
    <td>
      Postal code:<%=@property.zip_code %>
    </td>
  </tr>

  <tr>
    <td>
      Property Status:<%=@property.property_status%>
    </td>
  </tr>
  <tr>
    <td>
      Start Date:<%=@property.start_date %>
    </td>
  </tr>

  <tr>
    <td>
      End Date:<%=@property.end_date %>
    </td>
  </tr>
  <tr>
    <td>
      Upcoming Date:<%=@property.upcoming_date %>
    </td>
  </tr>
</table>